body {
    font-family: 'Work Sans', sans-serif;
    color: #282828;
}

.masthead {
    text-align: center;
    width: 100%;
    height: 620px;
    background-color: #073330;
    position: relative;
}

.masthead .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffa279;
    mix-blend-mode: difference;
    width: 100%
}

.masthead h1 {
    font-size: 6.5em;
    line-height: 1em;
    text-transform: uppercase;
    margin: 0;
}

.masthead p {
    font-size: 1.1em;
}

.masthead:after {
    content: ' ';
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url("dollarbill_bw.png");
    mix-blend-mode: soft-light;
    top: 0px;
    opacity: 0.5;
}

.content {
    max-width: 900px;
    margin: 100px auto;
}

.content h2 {
    font-weight: 500;
    margin-bottom: 0.5em;
}

.content h3 {
    font-weight: 500;
    text-align: center;
}

.content p {
    font-size: 1em;
    line-height: 1.45em;
}

#plot3 {
    margin: 0 auto;
}
