body {
    font-family: 'Work Sans', sans-serif;
    color: #282828;
}

a {
    color: inherit;
}

.masthead {
    text-align: center;
    width: 100%;
    height: 620px;
    background-color: #073330;
    position: relative;
}

.masthead .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ff9f75;
    mix-blend-mode: difference;
    width: 100%
}

.masthead h1 {
    font-size: 6.5em;
    line-height: 1em;
    text-transform: uppercase;
    margin: 0;
}

.masthead p {
    font-size: 1.1em;
}

.masthead:after {
    content: ' ';
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url("dollarbill_bw.png");
    mix-blend-mode: soft-light;
    top: 0px;
    opacity: 0.5;
}

.content {
    max-width: 900px;
    margin: 100px auto;
}

.content h2 {
    font-weight: 500;
    margin-bottom: 0.5em;
}

.content h3 {
    font-weight: 500;
    text-align: center;
}

.content p {
    font-size: 1em;
    line-height: 1.45em;
}

#plot3 {
    margin: 0 auto;
}

.toolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    padding: 10px;
    color: #fff;
    font-size: .8em;
    line-height: 1.2em;
}

.sketch3-container .interactivity span, select {
    font-size: 15px;
}

.sketch3-container .source {
    font-size: 0.8em;
    color: #939393;
    font-weight: 300;
}

/* The switch - the box around the slider */

.switch-container {
    float: right;
}

.switch-container span {
    vertical-align: top;
    transform: translateY(-15%);
}

.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 22px;
    margin: 0 0.2em;
}

/* Hide default HTML checkbox */

.switch input {
    display: none;
}

/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: #282828 solid 2px;
    background-color: transparent;
    -webkit-transition: .3s;
    transition: .3s;
}

.slider:before {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    left: 3px;
    top: 2.5px;
    background-color: #282828;
    -webkit-transition: .3s;
    transition: .3s;
}

input:checked + .slider:before {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 100px;
}

.slider.round:before {
    border-radius: 100%;
}

#plot3 svg .bars {
    cursor: pointer;
}

#plot3 .axis path, line {
    stroke: transparent;
}

#plot3 .axis {
    font-family: 'Work Sans';
    font-size: 15px;
}

.footer {
    text-align: center;
    background-color: #f2f2f2;
    color: #7c7c7c;
    min-height: 8em;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
}
